
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Pixelify+Sans:wght@500&display=swap');
@font-face {
    font-family: 'Africa Cliff';
    src: url('./fonts/Africa\ Trial\ Cliff/');
}
@font-face {
    font-family: 'Gobold High';
    src: url('./fonts/gobold/Gobold\ Bold.otf');
}
@font-face {
    font-family: 'monument';
    src: url('./fonts/MonumentExtended-FreeForPersonalUse/');
}
@font-face {
    font-family: 'Bemirs';
    src: url('./fonts/bemirs-font/BemirsDemoVersionRegular-X361d.otf');
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
    color: white;
    box-sizing: border-box;
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    background-attachment: fixed;
}

.first-page{
    height: 100vh;
    width: 100vw;
   
}
.name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    background: linear-gradient(315deg, #fffcf9 0%, #ffd166 74%);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Bemirs';
    font-size: 10vw;
    font-weight: 500;
    /* text-shadow: 2px 2px 0px white; */
}
.about{
    display: flex;
    flex-direction: column ;
    width: 100vw;
    height: 100vh;
}

.about h1{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, #fffcf9 0%, #ffd166 74%);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0; 
    font-family: 'Bemirs';
    font-size: 7vh;
    font-weight: 500;
}
.about h2 {
    font-family: 'Montserrat';
    text-align: center;
}
.about span{
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(315deg, #fffcf9 0%, #ffd166 74%);
    -webkit-background-clip: text;
    color: transparent;
}
.description{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.skills{
    height: 50vh;
    width: 100vw;
    margin-right: 30px;
    
}